// Font
$main-font: 	 				'Poppins', sans-serif;
$hedding-font: 				'Jost', sans-serif;

// Theme Color
$primary: 						#3452ff;
$secondary: 					#fd0;
$success: 						#50d294;
$danger: 							#ec5552;
$warning: 						#FFCC00;
$info: 								#53cad8;
$white: 							#ffffff;
$light: 							#f0f1f6;
$muted: 							#9ca0b5;
$dark: 								#010521;
$black:								#000000;
$red-light:						#ff7171;
$purple:							#5f41da;
$blue:								#0f6fd8;
$orange:							#f97204;
$red:									#e91c28;
$green: 							#50d294;
$yellow: 							#ffea04;
$pink: 								#fd2590;
$purple:							#8d5ed9;
$cyan:								#26c3ad;


$body-bg: 						#f9f9fc;
$body-text:						#898b96;

$border-color: 			#e5e5e5;

// card
$card-title-padding: 	1.429rem 0;
$card-title-margin: 	0 1.429rem;
$card-body-padding: 	1.429rem;

