/**********************/
/* Animation */
/**********************/

.animation-box {
  border: 5px solid $white;
  margin-bottom: 0;
  padding: 20px;

  pre {
    margin-bottom: 0;
  }

}

/* reveal effects */
.reveal-holder {
  position: relative;
  overflow: hidden;

  .reveal-block {
    position: absolute;
    top: 0;
    width: 100%;
    height: 101%;
    background: white;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $black;
      transition-property: transform;
      transition-duration: 0.5s;
    }

  }

}

.reveal-block.gradient::before {
  background: linear-gradient(to left, #eebf56, #f46ca3);
}

.reveal-block.gradient-two::before {
  background: linear-gradient(to left, #1b9edf, #af74c3);
}

.reveal-block.extra {
  background: #1b9edf;

  &::before {
    background: #af74c3;
  }

}

.reveal-block.top.aos-animate::before,
.reveal-block.bottom.aos-animate::before {
  transform: scaleY(1);
}

.reveal-block.left.aos-animate::before,
.reveal-block.right.aos-animate::before {
  transform: scaleX(1);
}

.reveal-block.top::before {
  transform: scaleY(0);
  transform-origin: 0% 100%;
}

.reveal-block.left::before {
  transform: scaleX(0);
  transform-origin: 100% 0%;
}

.reveal-block.right::before {
  transform: scaleX(0);
  transform-origin: 0% 100%;
}

.reveal-block.bottom::before {
  transform: scaleY(0);
  transform-origin: 100% 0%;
}

/* AOS animate */
[data-aos="reveal-top"],
[data-aos="reveal-left"],
[data-aos="reveal-right"],
[data-aos="reveal-bottom"] {
  transition-property: transform;
  transition-delay: 0.5s;
}

[data-aos="reveal-top"] {
  transform: scaleY(1);

  &.aos-animate {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }

}

[data-aos="reveal-left"] {
  transform: scaleX(1);

  &.aos-animate {
    transform: scaleX(0);
    transform-origin: 0% 100%;
  }

}

[data-aos="reveal-right"] {
  transform: scaleX(1);

  &.aos-animate {
    transform: scaleX(0);
    transform-origin: 100% 0%;
  }

}

[data-aos="reveal-bottom"] {
  transform: scaleY(1);

  &.aos-animate {
    transform: scaleY(0);
    transform-origin: 0% 100%;
  }

}

[data-aos="reveal-item"] {
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 0s;

  &.aos-animate {
    visibility: visible;
  }

}

// fancy-effects

.delayed-section .inner-container {
  will-change: transform;
}

.delayed-section img {
  max-width: 100%;
  will-change: transform;
}