/**********************/
/* Modal */
/**********************/ 

.modal-subscribe {
   .modal-header {
      border: none;
      position: absolute;
      right: 0;
      z-index: 9;
   }

}

.modal {
   .modal-header-absolute {
      border: none;
      position: absolute;
      right: 0;
      z-index: 9;
   }

}